.subjects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.card{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #c3c6d7;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    height: 180px;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100px;      
    height: 100px;   
    object-fit: contain;
    display: block;
    margin: 0 auto 15px auto;
}

.card h3{
    font-size: 18px;
    color: #004ac6;
}